@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --font-size-p: 14px;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    overflow: hidden;
}

.mobile-image {
    display: none;
}

.desktop-image {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.product-card {
    width: 38em;
    height: 28em;
    border-radius: 10px;
    margin: 8.5em auto;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.image-container {
    height: 100%;
    width: 100%;
}

.info-container {
    margin: 2em;
}

.product-title {
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-family: var(--font-family-montserrat);
}

.product-name {
    margin: 1.1em;
}

.product-name > h1 {
    width: 236px;
    height: 96px;
    font-size: 32px;
    line-height: 32px;
    color: var(--very-dark-blue);
    font-weight: 700;
    font-family: var(--font-family-fraunces);
}

.product-description {
    width: 237px;
    height: 92px;
    font-size: var(--font-size-p);
    line-height: 23px;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-family: var(--font-family-montserrat);
}

.price-container {
    display: flex;
    margin-top: 2em;
}

.new-price {
    font-size: 32px;
    line-height: 32px;
    color: var(--dark-cyan);
    font-weight: 700;
    font-family: var(--font-family-fraunces);
    margin-right: .5em;
}

.old-price {
    font-size: 13px;
    line-height: 23px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-family: var(--font-family-montserrat);
}

.cart-container {
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    transition: all 0.5s;
}

.cart-container:hover {
    cursor: pointer;
    background-color: #1a4032;
    transition: all 0.5s;
}

.cart-container > p {
    font-size: var(--font-size-p);
    color: var(--white);
    font-weight: 700;
    font-family: var(--font-family-montserrat);
    margin-left: .5em;
}

@media(max-width: 375px) {
    .product-card {
        width: 95vw;
        margin: 5em auto;
        height: 85vh;
        border-radius: 10px;
        background-color: var(--white);
        flex-direction: column;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product-name > h1 {
        width: 10em;
        height: 1.7em;
        margin-left: -.5em;
        margin-top: -.2em;
    }

    .product-description {
        width: 295px;
        height: 92px;
        font-size: var(--font-size-p);
        line-height: 23px;
        color: var(--dark-grayish-blue);
        font-weight: 500;
        font-family: var(--font-family-montserrat);
    }

    .price-container {
        margin-bottom: -1em;
    }

    .cart-container {
        width: 17.8em;
        height: 48px;
        border-radius: 8px;
        background-color: #3d8168;
        margin-bottom: -.5em;
    }
}